li(data-index='#{index}', data-image-index='#{imageIndex}',title='#{index}').item-image
	figure
		.preview(style="background-image: url(#{image})")
			image(src="#{image}")
		figcaption
			h3.description
				| #{title}
			p.timestamp
				| #{timestamp}
