li(data-index='#{index}',title='#{index}')
	figure
		.preview(style="background-image: url(#{image})")
			image(src="#{image}")
		figcaption
			h3.description
				| #{title}
			p.timestamp
				| #{timestamp}
